<h2>Find your ideal pet</h2>
<mat-form-field appearance="fill" class="back-filters">
     <mat-grid-list cols="4" rowHeight="4:1">
          <mat-grid-tile>
               <mat-label>Species</mat-label>
               <mat-select>
                    <mat-option value="option">Option</mat-option>
               </mat-select>
          </mat-grid-tile>
          <mat-grid-tile >
               <mat-label>Race</mat-label>
               <mat-select>
                    <mat-option value="option">Option</mat-option>
               </mat-select>
          </mat-grid-tile>
          <mat-grid-tile >
               <mat-label>Tags</mat-label>
               <mat-select>
                    <mat-option value="option">Option</mat-option>
               </mat-select>
          </mat-grid-tile>
          <mat-grid-tile >
               <button mat-button color="primary">search</button>
          </mat-grid-tile>
     </mat-grid-list>
</mat-form-field>


