<div class="back-tittle-filters">
     <br />
     <h2>Find your ideal pet </h2>
     <mat-icon>thumb-up</mat-icon>
</div>
<br><br>
<mat-grid-list cols="3">
     <!--Pet Filters-->
     <mat-grid-tile class="container-filters">
  <form class="form-filters">
          <br>
          <mat-form-field appearance="fill">
               <mat-label>Species</mat-label>
               <mat-select >
                    <mat-option *ngFor="let pet of typesPet" value='{{ pet.name }}' (click)="RacePet(pet.name)">
                         {{ pet.name }}</mat-option>
               </mat-select>
          </mat-form-field>
          <br>

          <mat-form-field   appearance="fill">
               <mat-label>Breeds</mat-label>
               <input  type="text" [(ngModel)]="selectBreed" matInput [formControl]="myControl" [matAutocomplete]="auto">
               <mat-autocomplete  #auto="matAutocomplete">
                    <mat-option *ngFor="let breed of filteredOptions | async" [value]="breed.name" (click)="tagsPet()">{{breed.name}}</mat-option>
               </mat-autocomplete>
          </mat-form-field>
          
          <br>
          <mat-form-field appearance="fill">
               <mat-label>Tags</mat-label>
               <mat-select>
                    <mat-option *ngFor="let tag of typesTags" value='{{tag}}'>{{tag}}</mat-option>
               </mat-select>
          </mat-form-field>
          <br>
          <button mat-button class="search-btn-filter" (click)="getPets()">search <mat-icon>search</mat-icon></button>
     </form>
     </mat-grid-tile>

     <!--Pet Lits-->
     <mat-grid-tile [colspan]="2">
          <div class="prueba">
          <table mat-table [dataSource]="listPets" class="mat-elevation-z8 table" >
               <ng-container matColumnDef="specie">
                    <th mat-header-cell *matHeaderCellDef> Specie </th>
                    <td mat-cell *matCellDef="let pet">{{pet.species}} </td>
               </ng-container>
               <ng-container matColumnDef="name" >
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let pet">{{pet.name}} </td>
               </ng-container>
               <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef> Size </th>
                    <td mat-cell *matCellDef="let pet">{{pet.size}} </td>
               </ng-container>
               <ng-container matColumnDef="info">
                    <th mat-header-cell *matHeaderCellDef> info </th>
                    <td mat-cell *matCellDef="let pet"><button mat-button (click)="info(pet.id)">info <mat-icon>paw</mat-icon></button> </td>
               </ng-container>

               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
     </div>
     </mat-grid-tile>
</mat-grid-list>